= render "layouts/header"


-# %a.btn.btn-primary{:href => "#", :role => "button"} Link
-# %button.btn.btn-primary{:type => "submit"} Button
-# %input.btn.btn-primary{:type => "button", :value => "Input"}/
-# %input.btn.btn-primary{:type => "submit", :value => "Submit"}/
-# %input.btn.btn-primary{:type => "reset", :value => "Reset"}/

-# .container
-#   %table.table
-#     %thead
-#       %tr
-#         %th #
-#         %th 名前
-#         %th メールアドレス
-#         %th 電話番号
-#     %tbody
-#       %tr
-#         %th{:scope => "row"} 1
-#         %td 煌木 太郎
-#         %td taro.kirameki@example.com
-#         %td 09011112222
-#       %tr
-#         %th{:scope => "row"} 2
-#         %td 煌木 次郎
-#         %td jiro.kirameki@example.com
-#         %td 09033334444
-#       %tr
-#         %th{:scope => "row"} 3
-#         %td 煌木 花子
-#         %td hanako.kirameki@example.com
-#         %td 09055556666
-#   %header{:style => "background-color:gray"} Header
-#   .container-fluid
-#     .row
-#       .col-sm-2{:style => "background-color:red;"} Red
-#       .col-sm-8{:style => "background-color:blue;"} Blue
-#       .col-sm-2{:style => "background-color:yellow;"} Yellow
-#   %footer{:style => "background-color:gray"} Footer
