= render "layouts/header"
.main_container
  %h1.text-center.p-3.mb-2.w-100.p-3
    カロリー早見表

  =link_to food_path("1") do
    %button.btn.btn-outline-primary.btn-lg.btn-block.mt-1.mt-sm-1.mt-md-1.mt-lg-1.mt-xl-1{type: "button"}
      和食
  =link_to food_path("2") do
    %button.btn.btn-outline-secondary.btn-lg.btn-block.mt-1.mt-sm-1.mt-md-1.mt-lg-1.mt-xl-1{type: "button"}
      洋食
  =link_to food_path("3") do
    %button.btn.btn-outline-success.btn-lg.btn-block.mt-1.mt-sm-1.mt-md-1.mt-lg-1.mt-xl-1{type: "button"}
      中華
  =link_to food_path("4") do
    %button.btn.btn-outline-danger.btn-lg.btn-block.mt-1.mt-sm-1.mt-md-1.mt-lg-1.mt-xl-1{type: "button"}
      ファーストフード
  =link_to food_path("5") do
    %button.btn.btn-outline-warning.btn-lg.btn-block.mt-1.mt-sm-1.mt-md-1.mt-lg-1.mt-xl-1{type: "button"}
      ドリンク
  =link_to food_path("6") do
    %button.btn.btn-outline-info.btn-lg.btn-block.mt-1.mt-sm-1.mt-md-1.mt-lg-1.mt-xl-1{type: "button"}
      各国料理
  =link_to food_path("7") do
    %button.btn.btn-outline-dark.btn-lg.btn-block.mt-1.mt-sm-1.mt-md-1.mt-lg-1.mt-xl-1{type: "button"}
      おつまみ
  =link_to food_path("8") do
    %button.btn.btn-outline-primary.btn-lg.btn-block.mt-1.mt-sm-1.mt-md-1.mt-lg-1.mt-xl-1{type: "button"}
      スナック菓子
  =link_to food_path("9") do
    %button.btn.btn-outline-secondary.btn-lg.btn-block.mt-1.mt-sm-1.mt-md-1.mt-lg-1.mt-xl-1{type: "button"}
      スイーツ
  =link_to food_path("10") do
    %button.btn.btn-outline-success.btn-lg.btn-block.mt-1.mt-sm-1.mt-md-1.mt-lg-1.mt-xl-1{type: "button"}
      パン
  -# =link_to new_food_path do
  -#   %button.btn.btn-primary.btn-lg.btn-block.mt-1.mt-sm-1.mt-md-1.mt-lg-1.mt-xl-1{type: "button"}
  -#     新しく食品を登録


