= render "layouts/header"

%h1.text-center.p-3.mb-2.w-100.p-3
  カロリー早見表

=link_to food_path("1") do
  %button.btn.btn-primary.btn-lg.btn-block{type: "button"}
    和食
=link_to food_path("2") do
  %button.btn.btn-primary.btn-lg.btn-block{type: "button"}
    洋食
=link_to food_path("3") do
  %button.btn.btn-primary.btn-lg.btn-block{type: "button"}
    中華
=link_to food_path("4") do
  %button.btn.btn-primary.btn-lg.btn-block{type: "button"}
    ファーストフード
=link_to food_path("5") do
  %button.btn.btn-primary.btn-lg.btn-block{type: "button"}
    ドリンク
=link_to food_path("6") do
  %button.btn.btn-primary.btn-lg.btn-block{type: "button"}
    各国料理
=link_to food_path("7") do
  %button.btn.btn-primary.btn-lg.btn-block{type: "button"}
    おつまみ
=link_to food_path("8") do
  %button.btn.btn-primary.btn-lg.btn-block{type: "button"}
    スナック菓子
=link_to food_path("9") do
  %button.btn.btn-primary.btn-lg.btn-block{type: "button"}
    スイーツ
=link_to food_path("10") do
  %button.btn.btn-primary.btn-lg.btn-block{type: "button"}
    パン
