.main_container_login{
  height: 100vh;
  background-color: #f8f9fa;

  .login_top{
    padding-top: 50px;
    margin-left: 100px;
    box-sizing: border-box;
    color: black;
    font-weight: bold;
  }
  .login_text{
    color: black;
    font-weight: bold;
  }
}
