.main_container_edit{
  min-height: 749px;
  background-color: #f8f9fa;

  .profile_edit{
    padding: 20px 0;
    margin-left: 20px;
    box-sizing: border-box;
    font-weight: bold;
    color: black;
  }
}