.main_container_profile{
  width: 100vw;
  height: 100vh;
  background-image: url("/images/26764700e3b3036ab4bfe15bc5fd60da.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.main_container_login{
  width: 100vw;
  height: 100vh;
  background-image: url("/images/2e90317b2b525f9dd2295c6c7dfa1626.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.profile_text{
  color: white;
  font-weight: bold;
}
.explain{
  color: white;
  font-weight: bold;
}

.login_text{
  color: white;
  font-weight: bold;
}
.login_top{
  padding-top: 50px;
  margin-left: 100px;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
}

.col-sm-2{
}
.profile_top{
  padding-top: 50px;
  margin-left: 100px;
  box-sizing: border-box;
  font-weight: bold;
  color: white;
}
#form-margin{
  margin-top: 30px;

}
#user_status_gender{
  width: 192px;
  height: 38px;
}

#delete-padding{}